<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>messages.properties 값 출력</title>

  <!-- templates/common/common.html 조각으로 추가 -->
</head>
<body>

  <main>

    <!-- common/header.html 을 조각으로 추가 -->

    <!-- 메인 페이지 내용  -->
    <section class="content">
    
      <section class="content-1">
		<!-- 비동기 보충 시 사용 영역 -->
	  </section>

      <section class="content-2">
        <!-- 로그인, 회원가입 버튼 -->

          <!-- 로그인이 되어있지 않은 경우 -->
          
            <!-- 로그인 박스 -->
            <form action="/member/login" method="POST" id="loginForm">
              <fieldset class="id-pw-area">
    
                <!-- 아이디/비밀번호 입력 -->
                <section>
                  <input type="text" 
                        name="memberEmail"
                        placeholder="이메일">
    
                  <input type="password" 
                        name="memberPw" 
                        placeholder="비밀번호">
                </section>
    
                <!-- 로그인 버튼 -->
                <section>
                  <button>로그인</button>
                </section>
              </fieldset>
    
              <label>
                <!-- label 태그 : input 태그의 제목을 나타내는 태그  -->
                <input type="checkbox" name="saveId">
                아이디 저장
              </label>
    
              <article class="signup-find-area">

                <a href="#">회원가입</a>

                <span> | </span>
                <a href="#">ID/PW 찾기</a>
              </article>
    
            </form>

          <!-- 로그인이 되어있는 경우 -->
          
            <article class="login-area">

              <a href="#">
                <!-- 프로필 이미지 -->
                <img src="/images/user.png"
                     id="memberProfile"
                     alt="프로필 이미지" >
              </a>

              <!-- 닉네임, 이메일, 로그아웃 버튼 영역 -->
              <div class="my-info">
                
                <div>
                  <a href="#" id="nickname">닉네임</a>
                  <a href="#" id="logoutBtn">로그아웃</a>
                </div>

                <p>이메일</p>

              </div>

            </article>
          

      </section>

    </section>
  </main>

  <!-- common/footer 추가-->

  <!-- script 추가-->
</body>
</html>
