<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>정적 자원 연결</title>
<!-- static 폴더 기준으로 css 파일 경로를 작성 -->
<link rel="stylesheet" href="/css/ex.css" />
</head>
<body>
	<div class="container">
		<h2>정적 자원 연결 테스트</h2>
		<img alt="cat1" src="/images/cat1.jpg">
		<img alt="cat2" src="/images/cat2.jpg">
		<img alt="cat3" src="/images/cat3.jpg">
		<img alt="cat4" src="/images/cat4.jpg">
		<img alt="cat5" src="/images/cat5.jpg">
		<button type="button" id="btn">JS 연결 테스트</button>
	</div>
	<!-- static 폴더를 기준으로 js 파일 경로 작성 -->
	<script type="text/javascript" src="/js/ex.js"></script>
</body>
</html>