<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Project1</title>
  </head>
  <body>
    <!-- templates or static에 index.html이 있으면 메인페이지로 자동으로 설정됨 -->
    <h1>스프링부트 수업입니다</h1>
    <h2>
      src/main/resources의 templates 혹은 static에 index.html 이라는 이름의
      파일이 존재하면 메인페이지로 바로 매핑해준다.
    </h2>
    <h3>스프링부트 프로젝트 실행 방법(서버 배포 방법)</h3>
    <pre>
        src/main/java 하위 패키지에
        000Application.java 라는 이름의 파일이 프로젝트 생성 시 자동생성되어 있음
        (000은 프로젝트 이름)
        
        해당 클래스에는 main 메서드가 존재하고, 실행되면 내장된 Tomcat 서버가 배포를 시작함
        (브라우저가 자동으로 열리지 않기 때문에, 브라우저 주소창에 입력해서 접속해야함)
    </pre>
    <hr />
    <ol>
      <li>
        <a href="/test">요청 + forward 처리</a>
      </li>
    </ol>
  </body>
</html>
