<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.admin.model.mapper.AdminMapper">

	<select id="login">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME,
		MEMBER_PW,
		AUTHORITY
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND
		AUTHORITY = 2 AND MEMBER_DEL_FL = 'N'
	</select>
	<!-- 관리자 이메일 중복 검사 -->
	<select id="checkMmail">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_EMAIL =
		#{memberEmail}
		AND AUTHORITY = 2
	</select>
	<!-- 관리자 계정 발급 -->
	<insert id="createAdminAccount">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL,
		#{memberEmail},
		#{memberPw},#{memberNickname},
		#{memberTel},
		NULL,
		NULL,
		DEFAULT,
		DEFAULT,
		2
		)
	</insert>

	<select id="adminAccountList">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME,
		MEMBER_TEL
		FROM "MEMBER"
		WHERE AUTHORITY = 2 AND MEMBER_DEL_FL = 'N'
	</select>

</mapper>
