<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.project.myPage.model.mapper.MyPageMapper">

	<!-- 회원 정보 수정 -->
	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="getCurrMember">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="updatePw">
		UPDATE MEMBER
		SET MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
</mapper>