<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList - Ajax</title>

  <link rel="stylesheet" href="/css/ajax-main.css">
</head>
<body>
  <h1>Todo List - Ajax 버전</h1>
  <pre>
Ajax(Asynchronous JavaScript and XML)는 비동기적으로 서버와 브라우저 간에 
데이터를 교환하는 기술로 웹 페이지를 새로고침하지 않고도 
서버로부터 데이터를 받아와서 웹 페이지의 일부분을 업데이트 할 수 있도록 해줌
-> 기존에는 웹 페이지를 다시 로드할 때 전체 페이지를 
   다시 받아와야 했기 때문에 사용자 경험이 좋지 않았음
-> Ajax를 사용하면 웹 페이지를 로드한 후에도 
   웹 페이지와 서버 간에 데이터를 주고받을 수 있으므로 사용자 경험을 향상시킬 수 있다.
  </pre>

  <hr>

  <!-- form 태그 제출은 무조건 동기식!!!! -->
  <div>
    <h4>할 일 추가</h4>

    <div>
      제목 : <input type="text" id="todoTitle">
    </div>

    <div>
      <textarea id="todoContent" 
        cols="50" rows="5" placeholder="상세 내용"></textarea>
    </div>

    <button id="addBtn">추가 하기</button>
  </div>

  <hr>


  <h3 id="todoHeader">
    전체 Todo 개수 : <span id="totalCount">0</span> 개
    /
    완료된 Todo 개수 : <span id="completeCount">0</span> 개

    <button id="reloadBtn">새로고침</button>
  </h3>


            

  <table border="1" style="border-collapse: collapse;">

    <thead>
      <th>번호</th>
      <th>할 일 제목</th>
      <th>완료 여부</th>
      <th>등록 날짜</th>
    </thead>




    <tbody id="tbody">
    </tbody>

  </table>


  <!-- 
    할 일 상세 조회 시 출력되는 화면 
    popup layer : 현재 페이지 위에 새로운 레이어를 띄우는 것
  -->
                       <!-- 처음에 숨겨놓기 -->
  <div id="popupLayer" class="popup-hidden">

    <div class="popup-row">
      번호 : <span id="popupTodoNo"></span>
      | 
      제목 : <span id="popupTodoTitle"></span>

      <span id="popupClose">&times;</span>
    </div>

    <div class="popup-row">
      완료 여부 : <span id="popupComplete"></span>
      | 
      등록일 : <span id="popupRegDate"></span>
    </div>

    <div class="popup-row">
      [내용]
      <div id="popupTodoContent"></div>
    </div>

    <div class="btn-container">
      <button id="changeComplete">완료 여부 변경</button>

      <button id="updateView">수정</button>

      <button id="deleteBtn">삭제</button>
    </div>
  </div>







  <!-- 수정 팝업 레이어 (처음에 숨겨져 있음)-->
  <div id="updateLayer" class="popup-hidden">
    <div class="popup-row">
      제목 : <input type="text" id="updateTitle">
    </div>

    <div class="popup-row">
      <textarea id="updateContent" cols="45" rows="10"></textarea>
    </div>

    <div class="btn-container">
      <button id="updateBtn">수정</button>      
      <button id="updateCancel">취소</button>      
    </div>

  </div>







  <!-- 
    footer.html 조각을 해당 위치에 추가 
    (조각의 경로는 forward 하듯이 작성(접두사,접미사 생략))
  -->
  <th:block th:replace="~{common/footer}"></th:block>

  
  <script src="/js/ajax-main.js"></script>
  

</body>
</html>






