<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>할 일 제목</title>
  <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
  <h3>할 일 제목</h3>

  <table border="1">
    <tr>
      <th>번호</th>
      <td>할 일 번호</td>
    </tr>

    <tr>
      <th>등록 날짜</th>
      <td></td>
    </tr>

    <tr>
      <th>완료 여부</th>
      <td>
        <button type="button"
          class="complete-btn"
        >완료 여부</button>
      </td>
    </tr>
    
    <tr>
      <th>내용</th>
      <td class="todo-content"></td>
    </tr>
  </table>

  <button id="goToList">목록으로</button>
  <button id="updateBtn">수정</button>
  <button id="deleteBtn">삭제</button>


  <!-- spring에서 정적자원 요청(접근) 시 static 폴더 기준으로 작성 -->
  <script src="/js/detail.js"></script>
</body>
</html>