<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/update.css">
</head>
<body>
  <h1></h1>
  <hr>

  <form action="/todo/update" method="post">
    <div>
      제목: <input type="text" name="todoTitle">
    </div>

    <div>
      <!-- textarea에 값을 세팅하고 싶으면 시작,종료 태그 사이에 작성해야하므로
            th:value가 아닌 th:text에 작성해야한다! 
      -->
      <textarea name="todoContent"
        cols="50" rows="5" placeholder="상세 내용"></textarea>
    </div>

    <!-- 할 일 번호를 숨겨둠 -->
    <input type="hidden" name="todoNo">

    <button>수정하기</button>
  </form>

  

</body>
</html>