<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>서버로 파라미터 제출하기</title>
</head>
<body>
	<h1>서버로 파라미터 제출하기</h1>

	<h3>1. HttpServletRequest.getParameter("key") 이용</h3>
	<form action="/param/test1" method="post">
		이름 : <input type="text" name="inputName" /> <br /> 나이 : <input
			type="number" name="inputAge" /> <br /> 주소 : <input type="text"
			name="inputAddress" /> <br />
		<button>제출하기</button>
	</form>
	<hr>
	<h3>2. @RequestParam 어노테이션 이용 - 낱개 파라미터 컨트롤러에서 얻어오는 방법</h3>
	<form action="/param/test2" method="post">
		책 제목 : <input type="text" name="title"> <br> 작성자 : <input
			type="text" name="writer"> <br> 가격 : <input
			type="number" name="price"> <br> 출판사 : <input
			type="text"> <br>
		<button>제출하기</button>
	</form>
	<hr>
	<h3>3. @RequestParam 어노테이션 이용 - 여러개 파라미터를 컨트롤러에서 얻어오는 방법</h3>
	<form action="/param/test3" method="post">
		색상 : Red <input type="checkbox" name="color" value="Red">
		Green <input type="checkbox" name="color" value="Green"> Blue
		<input type="checkbox" name="color" value="Blue"> <br>
		<br> 과일 : Apple <input type="checkbox" name="fruit" value="Apple">
		Banana <input type="checkbox" name="fruit" value="Banana">
		Orange <input type="checkbox" name="fruit" value="Orange"> <br>
		<br> 상품명 : <input type="text" name="productName"> <br>
		유통기한 : <input type="date" name="expirationDate"> <br>
		<button>제출하기</button>
	</form>
	<hr>
	<h3>4. @ModelAttribute를 이용한 파라미터 얻어오기</h3>
	<form action="/param/test4" method="post">
		ID : <input type="text" name="memberId"> <br> PW : <input
			type="password" name="memberPw"> <br> NAME : <input
			type="text" name="memberName"> <br> AGE : <input
			type="number" name="memberAge"> <br>
		<button>제출하기</button>
	</form>

</body>
</html>