<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>타임리프 예제2</title>
  </head>
  <body>
    <h1>타임리프 예제</h1>
    <h3>요청 위임된 request에 존재하는 파라미터 출력하기</h3>
    <pre>
    ${param.key}

    - request에 존재하는 parameter 값 얻어와 출력
    - 요청 URL에 쿼리스트링(GET)이나 폼 데이터(POST)로 전달된 파라미터 값을
    직접 req에 세팅하지 않아도 바로 접근할 수 있도록 해줌
    </pre>
    <ul>
      <li th:text="${param.inputName}">제출된 이름</li>
      <li th:text="${param.inputAge}">제출된 나이</li>
      <!-- 같은 name 속성값(key)을 가진 파라미터는 배열로 전달 -->
      <li th:text="${param.color}">제출된 색상</li>
      <!-- 전달된 파라미터값이 없으면 null == 빈문자열임 -->
      <!-- 타임리프에서는 null값을 빈문자열("")로 처리함 -->

      <!-- 반복할 배열/리스트가 존재하지 않으면 반복 자체를 안함 -->
      <li th:each="c : ${param.color}" th:text="${c}"></li>
    </ul>
    <hr />
    <h3>th:text / th:utext</h3>
    <pre>
        th:text = "속성값"
        - 해당 태그에 "속성값"을 내용으로 출력
        - 단, html 태그, 특수문자는 해석하지 못함

        th:utext = "속성값"
        - 해당 태그에 "속성값"을 내용으로 출력
        - 단, html 태그, 특수문자 해석 o (innerHTML)
    </pre>
    <div>
      <h4>th:text (HTML 태그 해석 X)</h4>
      <th:block th:text="${str}">str</th:block>
    </div>
    <div>
      <h4>th:utext (HTML 태그 해석 O)</h4>
      <th:block th:utext="${str}">str</th:block>
    </div>

    <hr />

    <h3>th:text / th:utext 출력 시 변수에 저장된 값이 아닌 임의 내용</h3>

    <pre>
        1. th:text="|문자열 ${}|"
        - 해당 요소의 내용으로 "문자열" + 변수값 출력

        또는 
        2. + 연산으로 이어쓰기도 가능
    </pre>
    <p th:text="|th:text의 str 값 => ${str}|"></p>
    <p th:utext="|th:utext의 str 값 => ${str}|"></p>
    <p th:text="${str} + 짠"></p>

    <hr />
    <h3>th:text / th:utext 대신하는 특수 기호</h3>
    <!-- 
        1. th:text를 나타내는 특수 기호 ==> [[...]]
        2. th:utext를 나타내는 특수 기호 ==> [(...)]

    -->
    <p>입력 받은 이름 : [[${param.inputName}]]</p>
    [(${str})]

    <hr />

    <!-- <h1>messages.properties 값 출력하기</h1>
	<h3 th:text="#{app.name}">앱 이름</h3>
	<img th:src="#{user.default.image}"> -->
  </body>
</html>
