<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList - Boot</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <h1>Todo List</h1>
    <hr />

    <h3>
      <a href="/ajax/main">TodoList - Ajax 버전 페이지로...</a>
    </h3>

    <p th:text="${testTitle}">todoNo가 1인 할 일 제목 조회</p>

    <form action="/todo/add" method="post">
      <h4>할 일 추가</h4>
      <div>제목 : <input type="text" name="todoTitle" /></div>
      <div>
        <textarea
          cols="50"
          rows="5"
          name="todoContent"
          placeholder="상세 내용"
        ></textarea>
      </div>
      <button>추가하기</button>
    </form>

    <hr />

    <!-- ${#lists.size(리스트명)}  -->
    <h3
      th:text="|전체 Todo 개수 : ${#lists.size(todoList)}개 / 
		완료된 Todo 개수 : ${completeCount}개|"
    >
      전체 Todo 개수 /완료된 Todo 개수
    </h3>

    <table border="1">
      <thead>
        <tr>
          <th>행 번호</th>
          <th>할 일 번호</th>
          <th>할 일 제목</th>
          <th>완료 여부</th>
          <th>등록 날짜</th>
        </tr>
      </thead>
      <!-- 
			th:object
			특정 객체를 기준으로 설정해 그 안의 필드에 
			더 간단하게(*{필드명}) 접근할 수 있게 해주는 설정
		-->
      <tbody th:each="todo, iterStat : ${todoList}" th:object="${todo}">
        <!-- 
				반복 상태 변수 (현재 반복중인 객체와 반복 정보를 저장중인 타임리프 변수)
				변수명은 자유지만 보통 iterStat으로 씀
				iterStat.index(0부터 시작)
				iterStat.count(1부터 시작)
			 -->
        <tr>
          <td th:text="${iterStat.count}">행 번호</td>
          <td th:text="*{todoNo}">할 일 번호</td>
          <td>
            <a
              th:href="@{/todo/detail(todoNo=*{todoNo})}"
              th:text="*{todoTitle}"
              >할 일 제목</a
            >
          </td>
          <td th:text="*{complete}">완료 여부(Y/N)</td>
          <td th:text="*{regDate}">등록일</td>
        </tr>
      </tbody>
    </table>
    <th:block th:replace="~{common/footer}"></th:block>
    <!-- 순수하게 JS 코드가 있다면 script를 쓰면 되지만, 현재는
	 타임리프 문법이 있어야 하는 js이기 때문에, html 상에 만들어줌 -->
  </body>
</html>
